// Fonts
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

// Variables
@import 'variables';

@tailwind base;

@tailwind components;

@tailwind utilities;

// CSS TRANSITIONS

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

// IMPORTS (TO BE IMPORTED)
@layer utilities {
    @variants responsive {
        .font-readable {
            font-size: 11px;
        }

        .font-mobile {
            font-size: 9px;
        }
    }
}

